body {
  margin: 0;
  /*  margin-top: -20px; */
  font-family: "Urbanist", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.fp-controlArrow.fp-prev {
  border-color: transparent rgb(0, 0, 0) transparent transparent !important;
}
.fp-controlArrow.fp-next {
  border-color: transparent transparent transparent rgb(0, 0, 0)!important;

}

#fp-nav ul {
  right: 100%;
  position: absolute;
  z-index: -400;
}

@media screen and (max-width: 768px) {
  .fp-controlArrow.fp-prev {
    display: none;
  }
  .fp-controlArrow.fp-next {
    display: none;
  }
}
  



h1 {
  font-family: 'Bodoni Moda', serif;
  font-weight: 400;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

button {
  font-family: "Urbanist", sans-serif;
}

select {
  font-family: "Urbanist", sans-serif;
  font-size: 18px;
}

input {
  font-family: "Urbanist", sans-serif;
}

input::placeholder {
  font-family: "Urbanist", sans-serif;
}

a {
  color: black;
  text-decoration: none;
}

.logo {
  transition: 0.2s all ease-in-out;
}

.logo:hover {
  color: lightcoral;
}

.spinner,
.spinner:before,
.spinner:after {
  border-radius: 50%;
}

.spinner {
  color: #ffffff;
  font-size: 22px;
  text-indent: -99999px;
  margin: 0px auto;
  position: relative;
  width: 20px;
  height: 20px;
  box-shadow: inset 0 0 0 2px;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
}

.spinner:before,
.spinner:after {
  position: absolute;
  content: '';
}

.spinner:before {
  width: 10.4px;
  height: 10.4px;
  background: lightpink;
  border-radius: 20.4px 0 0 20.4px;
  top: -0.2px;
  left: -0.2px;
  -webkit-transform-origin: 10.4px 10.2px;
  transform-origin: 10.4px 10.2px;
  -webkit-animation: loading 2s infinite ease 1.5s;
  animation: loading 2s infinite ease 1.5s;
}

.spinner:after {
  width: 10.4px;
  height: 10.2px;
  background: lightpink;
  border-radius: 0 10.2px 10.2px 0;
  top: -0.1px;
  left: 10.2px;
  -webkit-transform-origin: 0px 10.2px;
  transform-origin: 0px 10.2px;
  -webkit-animation: loading 2s infinite ease;
  animation: loading 2s infinite ease;
}

@keyframes loading {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

#payment-message {
  color: rgb(105, 115, 134);
  font-size: 16px;
  line-height: 20px;
  padding-top: 12px;
  text-align: center;
}