body {
  margin: 0;
  /*  margin-top: -20px; */
  font-family: "Urbanist", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.fp-controlArrow.fp-prev {
  border-color: transparent rgb(0, 0, 0) transparent transparent !important;
}
.fp-controlArrow.fp-next {
  border-color: transparent transparent transparent rgb(0, 0, 0)!important;

}

#fp-nav ul {
  right: 100%;
  position: absolute;
  z-index: -400;
}

@media screen and (max-width: 768px) {
  .fp-controlArrow.fp-prev {
    display: none;
  }
  .fp-controlArrow.fp-next {
    display: none;
  }
}
  



h1 {
  font-family: 'Bodoni Moda', serif;
  font-weight: 400;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

button {
  font-family: "Urbanist", sans-serif;
}

select {
  font-family: "Urbanist", sans-serif;
  font-size: 18px;
}

input {
  font-family: "Urbanist", sans-serif;
}

input::placeholder {
  font-family: "Urbanist", sans-serif;
}

a {
  color: black;
  text-decoration: none;
}

.logo {
  transition: 0.2s all ease-in-out;
}

.logo:hover {
  color: lightcoral;
}



.spinner {
  border: 4px solid rgba(0, 0, 0, 0.1);
  width: 16px;
  height: 16px;
  border-radius: 50%;
  border-left-color: rgb(255, 255, 255);

  animation: spin 1s ease infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}


#payment-message {
  color: rgb(105, 115, 134);
  font-size: 16px;
  line-height: 20px;
  padding-top: 12px;
  text-align: center;
}